@import "tailwindcss";

:root {
  --background: #1c1d1d;
  --color-primario: #aa60c8;
  --background-secondary: #ffffff;
  --background-base: #334443;

  /* 🔥 NUEVAS VARIABLES PRO */
  --color-primario-soft: rgba(170, 96, 200, 0.2);
  --color-primario-soft-hover: rgba(248, 245, 250, 0);
  --shadow-primario: 0 10px 30px rgba(170, 96, 200, 0.2);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--background-base);
  background-color: var(--background-secondary);
}

/* 🎨 Clases utilitarias */
.background {
  background-color: var(--background);
}

.background-primary {
  background-color: var(--color-primario);
}
.background-primary:hover {
  background-color: var(--color-primario);
}
.background-text {
  color: var(--color-primario);
}

.background-base {
  color: var(--background-base);
}
.background-base:hover {
  box-shadow: var(--shadow-primario);
}
/* funciona usa*/
.backgroundShow {
  box-shadow: var(--shadow-primario);
}
/* funiona */
.bg-box-shadow {
  background-color: var(--color-primario-soft);
}
/* 🏷️ NUEVAS CLASES PARA BADGES / CARDS */

.bg-primary-soft {
  background-color: var(--color-primario-soft);
}

.bg-primary-soft-hover:hover {
  background-color: var(--color-primario-soft-hover);
}

.text-primary {
  color: var(--color-primario);
}
